<h1> Hola Mundo</h1>
fecha actual <%= Time.now%>
fecha formateada <%= Time.now.strftime("%d/%m/%Y %H:%M")%>
<%if Time.now.year >= 2023 %>
    <p>Version 2.0</p>
<%else%>
    <p>Version 1.0</p>
<%end%>